*{
    margin: 0px;
    padding: 0px;
}

.bgm{
    background-color:  rgba(58, 61, 61, 0.815);
    display: flex;
}

header{
    background-color:  rgba(58, 61, 61, 0.815);
    height: 30px;
    display: flex;
    flex-direction: row;
}

.header-home{
    margin-top: 5px;
    margin-left: 10px;
}

.header-home a{
    text-decoration: none;
    color: white;
    font-family: fjalla;
}

@font-face {
    font-family: fjalla;
    src: url('../FjallaOne/FjallaOne.ttf');
}

.header-products{
    margin-top: 5px;
    margin-left: 20px;
    font-family: fjalla;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: white;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(58, 61, 61, 0.815);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(58, 61, 61, 0.815);
    padding: 12px 8px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a{
    text-decoration: none;
    color: white;
}

.header-gallery{
    margin-top: 5px;
    margin-left: 20px;
}

.header-gallery a{
    text-decoration: none;
    color: white;
    font-family: fjalla;
}

.header-reserve{
    margin-top: 5px;
    margin-left: 20px;
}

.header-reserve a{
    text-decoration: none;
    color: white;
    font-family: fjalla;
}

main{
    margin-top: 0px;
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(57, 61, 61);
    height: 1600px;
}

.container{
    height: 700px;
    position: relative;
}

.img-c img{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.5;
}

.text-container{
    position: absolute;
    color: black;
    top: 30%;
    right: 200px;
    font-size: 40px;
}

.main-whyus{
    margin-top: 50px;
    color: white;
    font-family: fjalla;
    text-align: center;
    font-size: 23px;
}

.whyus-1{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: fjalla;
    font-size: x-small;
}

.trusted{
    font-size: x-small;
    margin-left: 215px;
    color: white;
    font-family: fjalla;
}

.cashback{
    text-align: center;
    margin-right: 200px;
    color: white;
    font-family: fjalla;
    font-size: x-small;
}

.whyus-2{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: fjalla;
    font-size: x-small;
}

.cheap{
    text-align: center;
    margin-left: 200px;
    color: white;
    font-family: fjalla; 
    font-size: x-small;
}

.condition{
    text-align: center;
    margin-right: 200px;
    color: white;
    font-family: fjalla;
    font-size: x-small;
}

.text{
    margin-top: 100px;
    margin-left: 50px;
    font-family: fjalla; 
}

.img{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img1 img{
    margin-left: 50px;
    height: 300px;
}

.img2 img{
    height: 300px;
}

.img3 img{
    margin-right: 50px;
    height: 300px;
}

footer{
    margin-top: 3px;
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: fjalla;
    font-size: x-small;
}

.aboutus{
    text-align: center;
}

.footer-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}  

@media screen and (max-width: 500px) {
    *{
        box-sizing: border-box;
    }

    header{
        overflow: hidden;
        background-color: #333;
    }

    header{
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 0px 0px;
        text-decoration: none;
        font-size: 5px;
    }

    header:hover {
        background-color: #ddd;
        color: black;
    }

    header{
      float: none;
      width: 100%;
      height: 50px;
    }
}